# Rename this file to .env and fill in your secrets #https://cloud.logto.io/
FLASK_SECRET_KEY=your_super_secret_key
LOGTO_ENDPOINT=https://something.logto.app/
LOGTO_APP_ID=somethingfromlogto
LOGTO_APP_SECRET=fromlogtoUI
REDIRECT_URI=http://localhost:5050/callback #as per your app


LOGTO_WEBHOOK_SECRET=your-very-secret-value